<!--<h1>Movies</h1>-->
<%#= link_to 'New Movie', new_movie_path %>
<!--<ul>-->
  <%# @movies.each do |movie| %>
    <!--<li>-->
      <%#= link_to movie.title, movie %> <!---(<%#= movie.genre %>)
      <%#= link_to 'Edit', edit_movie_path(movie) %> |
      <%#= link_to 'Delete', movie_path(movie), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
      <%#= button_to "Delete Movie", movie_path(movie), method: :delete %>
    </li>-->
  <%# end %>
<!--</ul>-->

<h1>Movies</h1>

<% if @movies.any? %>
  <!-- Display movies table -->
  <div class="container">

    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
        <%= link_to 'Add Movies', new_movie_path, class: 'btn btn-primary', style: 'margin-bottom: 20px' %>
      </div>
    </div>

    <div class="row justify-content-center">
      <!-- Empty div -->
      <div class="col-md-3"></div>

      <!-- Div column with table -->
      <div class="col-md-6">
        <table class="table table-striped text-center">
          <thead class="thead-light">
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Genre</th>
            </tr>
          </thead>
          <tbody>
            <% @movies.each do |movie| %>
              <tr>
                <td><%= link_to movie.title, movie_path(movie), class: "table-link" %></td>
                <td><%= movie.genre %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <!-- Empty div -->
      <div class="col-md-3"></div>
    </div>
  </div>
<% else %>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
        <%= link_to 'Add Movies', new_movie_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
