<h1>Edit YouTube Video</h1>
<%= render 'form', youtube: @youtube %>

<div class="container">
    <div class="row">
        <div class="col-12">
            <%= button_to 'Back', youtubes_path, method: :get, class: 'return-btn' %>
        </div>
    </div>
</div>